#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004466;
}
  
.interactive {
    float: left;
}
  
.interactive a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.interactive a:hover {
    background-color: #111;
}

body {
    background-color: #002233;
}

#contact_list, #Contact {
    list-style-type: none;
    color:white;
}

p, h1 {
    color:white;
}

