#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004466;
}
  
.interactive {
    float: left;
}
  
.interactive a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* Change the link color to #111 (black) on hover */
.interactive a:hover {
    background-color: #111;
}

body {
    background-color: #002233;
}

#contact_list, #Contact {
    list-style-type: none;
    color:white;
}

p, h1 {
    color:white;
    font-size: 1vw;
}

#about_row {
    display: flex;
    justify-content: space-between safe;
}

.about_col {
    flex: 1;
    padding: 1em;
}

#me_img{
    width: 100%;
    height: auto;
}

.modal-body > p {
    color: black;
}

#exp_img {
    width: 100%;
    height: auto;
}

#Othello {
    --bs-modal-width: 75%;
}

h2 {
    color: white;
    font-size: 1.5vw;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}